body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625em;
  font-family: 'Sacramento', cursive;
  color:#66bfbf;
}

h2 {
  font-size:2.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#66bfbf;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}

a{
  color:#11999e;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

p{
  color:#40514E;
  line-height: 2;
}

#foot{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}

#prog{
  font-weight:normal;
}

#top-cloud {
  position: absolute;
  top: 50px;
  right: 250px;
}

#bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 250px;
}

.skill-row{
  width:50%;
  margin:100px auto;
  text-align: left;
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-heading{
  padding-top:100px;
}

.dev-img{
  width: 25%;
  float: right;
  margin-right: 30px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.intro{
  width:30%;
  margin:auto;
}

.contact-message{
  width:40%;
  margin:40px auto 60px;
}

.btn{
  color: rgb(255, 255, 255);
font-size: 20px;
font-family: 'Montserrat', sans-serif;
padding: 10px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: rgb(82, 229, 214);
background: -moz-linear-gradient(90deg, rgb(82, 229, 214) 30%, rgb(73, 255, 236) 70%);
background: -webkit-linear-gradient(90deg, rgb(82, 229, 214) 30%, rgb(73, 255, 236) 70%);
background: -o-linear-gradient(90deg, rgb(82, 229, 214) 30%, rgb(73, 255, 236) 70%);
background: -ms-linear-gradient(90deg, rgb(82, 229, 214) 30%, rgb(73, 255, 236) 70%);
background: linear-gradient(0deg, rgb(82, 229, 214) 30%, rgb(73, 255, 236) 70%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
text-decoration: none;
text-decoration: none;
}

.middle-container{
  margin:100px 0px 100px 0px;
}

.bottom-container{
background:#66bfbf;
padding-top:50px 0 20px;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 4%;
  border-color: #EAF6F6;
  margin:100px auto;
}

.bottom-line{
  margin-left:50%;
}
